@font-face {
  font-family: "opsr";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
  font-weight: 600;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  font-family: "opsr", sans-serif;
  font-size: 1.2em;
}
.app {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}
.app img {
  width: 20vw;
}
.ul {
  margin: 0;
  padding: 0;
}
.li {
  list-style: none;
  display: flex;
  box-sizing: content-box;
  box-shadow: 0 2px 2px 2px #dedede;
  width: 90vw;
  padding: 10px;
  height: 150px;
  border-radius: 3px;
  margin: 10px auto;
}
.li img {
  height: 90%;
}
